<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HG.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <userSettings>
    <HG.My.MySettings>
      <setting name="db_host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="db_username" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="db_pass" serializeAs="String">
        <value/>
      </setting>
      <setting name="db_name" serializeAs="String">
        <value>hg</value>
      </setting>
      <setting name="unite_monetaire" serializeAs="String">
        <value>Fcfa</value>
      </setting>
      <setting name="num_facture" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="user_id" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="point_vente_id" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="point_vente_name" serializeAs="String">
        <value>CHAMBRE FROIDE</value>
      </setting>
      <setting name="logo" serializeAs="String">
        <value>D:\dev\Resto\37989.png</value>
      </setting>
      <setting name="user_name" serializeAs="String">
        <value>Lepres</value>
      </setting>
      <setting name="app_debug_mode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="trainning_db" serializeAs="String">
        <value>trainning</value>
      </setting>
      <setting name="printing_available" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrinterName" serializeAs="String">
        <value>POS80 10.0.0.11</value>
      </setting>
      <setting name="printFontName" serializeAs="String">
        <value>Agency FB</value>
      </setting>
      <setting name="app_etablisement" serializeAs="String">
        <value>HG Group Agro &amp; Business</value>
      </setting>
      <setting name="app_slogan" serializeAs="String">
        <value>Vente des produits congelés</value>
      </setting>
      <setting name="app_adresse" serializeAs="String">
        <value>Fond tié-tié</value>
      </setting>
      <setting name="app_tel" serializeAs="String">
        <value>056369071</value>
      </setting>
      <setting name="app_receip_footer" serializeAs="String">
        <value>Les marchandises achetées ne sont ni reprises ni échangées.</value>
      </setting>
      <setting name="cli_boucherie_id" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="last_date" serializeAs="String">
        <value/>
      </setting>
      <setting name="main_theme" serializeAs="String">
        <value>background</value>
      </setting>
      <setting name="backup_path" serializeAs="String">
        <value/>
      </setting>
      <setting name="process_backup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="backup_exe" serializeAs="String">
        <value>C:\xampp\mysql\bin\mysqldump.exe</value>
      </setting>
      <setting name="cli_livraison_id" serializeAs="String">
        <value>246</value>
      </setting>
      <setting name="thread_count" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="restore_exe" serializeAs="String">
        <value>C:\xampp\mysql\bin\mysql.exe</value>
      </setting>
    </HG.My.MySettings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
